/*
-----------------------------------------------------------
ABOUT SECTION - Styling
-----------------------------------------------------------
*/

body.about-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 80px;
}

/* About Section */
.about-me {
    padding-top: 80px;
    padding-bottom: 80px;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 100px);
}


html {
    overflow-x: hidden; 
    overflow-y: auto;   
    height: 100%;
}

/*
-----------------------------------------------------------
CAROUSEL
-----------------------------------------------------------
*/


.carousel {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
}

.carousel-inner {
    width: 100%;
    overflow: hidden;
     height: auto;
}


/* Carousel Images */
.carousel-inner img {
    width: 90%;
    height: 450px; 
    object-fit: cover; 
}

.carousel-inner .carousel-item .carousel-caption p {
    color: white !important;
}

.carousel-control-prev,
.carousel-control-next {
    background: none !important; 
    opacity: 0.7; 
    transition: opacity 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1; 
}

/* Control Icons Styling */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.3s ease;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    transform: scale(1.2); 
}

/* Carousel Captions */
.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem; 
    display: block; 
    z-index: 10; 
}

/*
-----------------------------------------------------------
SLIDING TEXT
-----------------------------------------------------------
*/

/* Container for the sliding text */
.sliding-text-container {
    width: 100%; 
    margin: 0 auto; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 2.5rem; 
    background-color: rgba(240, 240, 240, 0.3); 
    display: flex;
    align-items: center;
}

/* The sliding text wrapper */
.sliding-text-wrapper {
    display: flex;
    animation: slideText 28s linear infinite;
    width: 100%; 
    padding-right: 10px;
    will-change: transform;
}

/* Each sliding text piece */
.sliding-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2C3E50;
    padding-right: 10rem; 

}

/* Keyframes for sliding text */
@keyframes slideText {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

/* Pause animation on hover */
.sliding-text-container:hover .sliding-text-wrapper {
    animation-play-state: paused;
}

/* -------------
 About me
 --------------- */
h1, h2, p {
    font-size: clamp(14px, 2vw, 24px); 
}

.about-me {
    height: calc(100vh - 160px); 
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;  
}

.about-me {
    max-height: 100vh;
}

/* About Me Heading h1 */
.about-me h1 {
    font-size: 1.8rem; 
    font-weight: bold;
    color: #F9E36B; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    transition: color 0.3s ease, text-shadow 0.3s ease; 
}

/* Bounce effect for hover */
.about-me h1:hover {
    animation: bounce 0.5s ease;
    color: #F5A7A1; 
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6); 
}

/* Bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px);
    }
    70% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0);
    }
}

/* My toolkit Heading h3 */
.about-me h3 {
    font-size: 1.6rem; 
    font-weight: normal; 
    color: #F9E36B;  
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6); 
    transition: color 0.3s ease, text-shadow 0.3s ease, text-decoration 0.3s ease;
    text-decoration: none; 
}

/* Hover effect */
.about-me h3:hover {
    animation: bounce 0.5s ease; 
    color: #F5A7A1; 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); 
    text-decoration: underline;
    text-decoration-color: #F5A7A1; 
    text-decoration-style: wavy; 
    text-underline-offset: 6px; 
}

/* Bounce animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-5px); 
    }
    50% {
        transform: translateY(3px); 
    }
    70% {
        transform: translateY(-2px); 
    }
    100% {
        transform: translateY(0);
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 100px); 
    padding-top: 80px;
    padding-bottom: 80px; 
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #2C3E50;
}

.about-me a {
    font-weight: bold;
    color: #F5A7A1;
    text-decoration: none;
}

.about-me a:hover {
    text-decoration-color: #F5A7A1;
}

.about-me::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 10%, rgba(255,255,255,0) 80%);
    z-index: -1;
    border-radius: 15px;
}

/* Custom underline for the specific word */
.wavy-underline {
    text-decoration: underline;
    text-decoration-color: #F9E36B;            
    text-decoration-style: wavy;               
    color: #2C3E50;   
    text-underline-offset: 6px;                          
} 
  .wavy-underline:hover {
    text-decoration-color: #F5A7A1;  
    text-underline-offset: 6px;       
}

/* General styling for the FAQ link */
p a {
    color: #F5A7A1 important!;  
    text-decoration: none;  
    font-weight: bold;  
    position: relative;  
    transition: color 0.3s ease, transform 0.3s ease;  
}

/* Hover effect */
p a:hover {
    color: #F9E36B;  
    transform: scale(1.05);  
}

/* Underline glow effect */
p a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F9E36B;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

p a:hover::after {
    transform: scaleX(1);  
}

/* -------------
 Media Queries
 --------------- */

 @media (max-width: 768px) {
    .about-me {
        padding-top: 60px;
        padding-bottom: 60px;
        overflow-y: visible; 
    }

    .about-me h1 {
        font-size: 1.5rem;  
    }

    .about-me p {
        font-size: 1rem;
    }

    .sliding-text-wrapper {
        white-space: nowrap;
        animation: slideText 15s linear infinite; 
        will-change: transform;
    }

    .carousel-inner img {
        height: auto;
        max-width: 100%;
        object-fit: cover; 
    }

    .carousel {
        margin: 10px auto; 
        width: 80%;
    }

    html {
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch; 
    }
}

@media (max-width: 480px) {
    .about-me h2 {
        font-size: 1.2rem; 
    }

    .about-me p {
        font-size: 0.9rem; 
    }

    .sliding-text-wrapper {
        animation: slideText 15s linear infinite; 
        transform: translateZ(0);
    }

    .sliding-text {
        font-size: 0.9rem;
    }

    .carousel-inner img {
        width: 60%;
        height: 450px; 
        object-fit: cover; 
    }

    .carousel {
        margin: 10px auto; 
    }

    .carousel-caption {
        bottom: 15%;
        font-size: 1rem;
    }
}


