/*
-----------------------------------------------------------
INDEX SECTION - Styling
-----------------------------------------------------------
*/

.content {
    margin-left: 50px !important; /* Adjust value as needed */
    text-align: left !important;
    width: fit-content; /* Ensures it doesn't take full width */
}

/*
-----------------------------------------------------------
TEXT
-----------------------------------------------------------
*/

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    line-height: 4; /* Increase line height to create more space between lines */
}

/*
-----------------------------------------------------------
MARK
-----------------------------------------------------------
*/
mark {
    background: linear-gradient(-100deg, hsla(105, 25%, 70%, .3), hsla(105, 25%, 70%, .7) 95%, hsla(105, 25%, 70%, .1));
    border-radius: 1em 0;
    padding: .5rem;
    display: inline-block; /* Ensures the mark behaves like text */
    margin-top: 0.2rem; /* Adds space above the highlighted text */
    margin-bottom: 0.2rem; /* Adds space below the highlighted text */
}


/* -------------
 Media Queries
 --------------- */