/*
-----------------------------------------------------------
INDEX SECTION - Styling
-----------------------------------------------------------
*/

.content {
    margin-left: 50px !important; 
    text-align: left !important;
    width: fit-content; 
}

/*
-----------------------------------------------------------
TEXT
-----------------------------------------------------------
*/

#typed-text {
    letter-spacing: 0.15em; 
}

#typed-text, .typewrite {
    color: #2C3E50;
    display: inline-block; 
    white-space: nowrap;
    overflow: hidden;
    text-align: left; 
    position: relative; 
}

h1, h2 {
    text-align: left; 
    margin: 0; 
    padding: 0; 
    width: auto; 
    display: inline-block; 
    position: relative;
}

h2 {
    font-size: 1.5rem;  
}

.typewrite {
    border-right: none;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #2C3E50; }
}

h1 {
    display: block;
}

h2 {
    margin-top: 0.2em; 
    display: block; 
    line-height: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 0; 
    height: 3em; 
    position: relative; 
}

p {
    margin-top: 0.5em;
    position: relative; 
}

/* Styling for the landing text */
.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    width: 100%;
    line-height: 4;
}


/*
-----------------------------------------------------------
UNDERLINE + BUTTONS
-----------------------------------------------------------
*/

/* Custom underline for the specific word */
.wavy-underline {
    text-decoration: underline;
    text-decoration-color: #F9E36B;       
    text-decoration-style: wavy;                   
    text-underline-offset: 6px;                        
} 
  .wavy-underline:hover {
    text-decoration-color: #F5A7A1; 
    text-underline-offset: 6px;         
}

/* Style the buttons */
.button-container {
    display: flex;
    gap: 15px; 
    margin-top: 20px; 
}

.button {
    padding: 10px;
    font-size: 1.6rem; 
    text-align: center;
    text-decoration: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;  
    outline: none; 
    color: inherit;
}

.button a {
    text-decoration: none; 
}

.button i {
    margin: 0;
}

.linkedin-button {
    color: #0077b5; 
}

.github-button {
    color: #2C3E50; 
}

.faq-button {
    color: #F9E36B; 
}

.button:hover {
    transform: scale(1.2) rotate(10deg); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.linkedin-button:hover {
    color: #005582; 
}

.github-button:hover {
    color: #444; 
}

.faq-button:hover {
    color: #F5A7A1; 
}

/* -------------
 Media Queries
 --------------- */

/* Phones */
@media (max-width: 575px) {
    .content {
        margin-left: 15px !important;  
        text-align: center !important; 
    }

    h1, h2 {
        text-align: left;
        margin-left: 15px;
    }

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.1rem;
    }
    .button-container {
        flex-direction:row ;
        gap: 10px; 
        justify-content: center; 
        align-items: center; 
    }

    .button {
        padding: 12px;
        font-size: 1.4rem; 
    }

}

/* Tablets */
@media (min-width: 576px) and (max-width: 991px) {
    .content {
        margin-left: 30px !important;  
        text-align: center !important;
    }

    h1, h2 {
        text-align: center;
        font-size: 1.4rem;
    }

    .button-container {
        flex-direction: row;  
        gap: 12px; 
    }
}

/* For very large screens */
@media (min-width: 992px) {
    .content {
        margin-left: 50px !important; 
    }

    .button-container {
        gap: 15px;
    }

    .button {
        padding: 14px;
        font-size: 1.6rem; 
    }
}