/*
-----------------------------------------------------------
GENERAL Styling
-----------------------------------------------------------
Font: Jost, Serif
Colors: 
    Light mode: #d3c8e0
    Dark mode: #AEC6CF

    Text colors when black: #2C3E50
*/

/*
-----------------------------------------------------------
 BODY 
-----------------------------------------------------------
*/

body {
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    margin: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    overflow: auto; 
    position: relative;
    padding-top: 100px;
    padding-bottom: 40px; 
    min-height: 100vh; 
    opacity: 1 important!;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050; 
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px 0;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px); 
    transition: background-color 0.3s ease-in-out; 
}

/* Add a sky background */
#sky {
    height: 100%;  
    position: absolute; 
    width: 100%;  
    top: 0;
    left: 0;
    pointer-events: none;  
    z-index: 1;  
}

/* Star effect */
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

/* Project name styling */
header h1 {
    margin-bottom: 0; 
    font-size: 1.5rem; 
    padding: 10px 0; 
    color: white !important; 
    position: relative; 
    z-index: 2; 
    opacity: 1 !important;
}

/*
-----------------------------------------------------------
  NAVIGATION BAR
-----------------------------------------------------------
*/

/* Navbar */
.navbar {
    width: 100%; 
    padding: 0; 
    background-color: transparent important!; 
    position: relative; 
    z-index: -2; 
    margin: 0; 
    border: none; 
}

.container-fluid {
    padding: 0;  
    margin: 0;    
}

.navbar-nav {
    background-color: transparent !important;
    color: white important!;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    margin: 0; 
}

.navbar-light {
    border: none;
    background-color: transparent !important;
}

nav.navbar .navbar-nav .nav-link {
    color: white !important; 
}

.nav-link.active {
    font-weight: bold;
    text-decoration: underline;
    color: var(--moon-yellow);
}

nav.navbar .navbar-nav .nav-link:hover {
    color: #F9E36B !important; 
    transform: scale(1.1);
}

.navbar-toggler {
    border: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}

body.light-theme {
    background-color: #d3c8e0 !important; 
}

body.light-theme .landing-text {
    color: white; 
}

body.dark-theme {
    background-color: #AEC6CF; 
}

body.dark-theme .landing-text {
    color: white; 
}

/*
-----------------------------------------------------------
  TOGGLE
-----------------------------------------------------------
*/

button#theme-toggle {
    margin-left: 10px;
    font-size: 1.2rem;
}

/* Style for the toggle button */
#theme-toggle {
    position: relative;
    font-size: 24px;
    padding: 10px 15px;
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    z-index: 10; 
    margin-left: 10px; 
    box-shadow: none;
}

#theme-toggle:focus, 
#theme-toggle:active {
    outline: none !important; 
    box-shadow: none; 
    border: none;
}

#theme-toggle:hover {
    transform: scale(1.1); 
    outline: none;
}

/* Add smooth transition to the button */
#theme-toggle:focus-visible {
    outline: none !important; 
}

/*
-----------------------------------------------------------
SCROLL BAR
-----------------------------------------------------------
*/

/* Style the scrollbar itself */
::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

/* Style the track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px; 
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 3px solid #f1f1f1; 
}

/* Style the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
    background-color: #F5A7A1; 
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1; 
}

/*
-----------------------------------------------------------
  FOOTER
-----------------------------------------------------------
*/

.footer {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 40px; 
    padding: 3px; 
    text-align: center;
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; 
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    margin: 10px 0;
    font-size: 1rem;
}

.footer-content a {
    color: #2C3E50;
    text-decoration: none;
}

/* -------------
 Media Queries
 --------------- */

@media (max-width: 767px) {
    header h1 {
        font-size: 1.2rem; 
    }

    nav.navbar .navbar-nav {
        text-align: center;
    }

    nav.navbar .nav-item {
        padding: 0 10px; 
    }

    nav.navbar .nav-link {
        font-size: 14px; 
    }

    nav.navbar .container-fluid {
        flex-wrap: nowrap; 
    }

    #theme-toggle {
        margin-left: 15px; 
    }

    button#theme-toggle {
        font-size: 1.2rem;
    }
}
